<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cotizador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item routerLink="/calculadora">Iniciar calculos</ion-item>
  </ion-list>


  <div id="container">
    <strong>El proposito</strong>
    <p>El proposito de este cotizador es facilitar los calculos de viajes para tanques de acero inoxidable para liquidos sanitarios e indutriales.</p>
    <br>
    <p></p>
  </div> 
</ion-content>


